python -m pip install 
pandas>=2.0 
requests 
beautifulsoup4 
lxml
python -m pip install --no-index --find-links=wheelhouse pandas requests beautifulsoup4 lxml

wheelhouse/
    pandas-2.0.x-cp3x-cp3x.whl
    requests-2.xx.whl
    beautifulsoup4-4.xx.whl
    lxml-4.xx.whl
